<div *ngIf="account" class="container-fluid">
  <div class="row justify-content-center align-items-center g-2 mb-3">
    <div *ngIf="account.avatar" class="col-12">
      <img
        *ngIf="account.avatar.gravatar"
        [src]="'https://www.gravatar.com/avatar/' + account.avatar.gravatar"
        class="img-fluid img-thumbnail"
      />
    </div>
    <div *ngIf="account.username" class="col-12">
      {{ account.username }}
      <span *ngIf="account.name">({{ account.name }})</span>
    </div>
  </div>
  <div class="row">
    <button (click)="onLoadRated()" class="btn btn-outline-secondary mb-3">
      Load rated media
    </button>
  </div>

  <div *ngIf="ratedMovies" class="row mb-3">
    <h3>Movies</h3>
    <div *ngFor="let movie of ratedMovies" class="col-2">
      <app-movie-card [media]="movie" [isMovie]="true"></app-movie-card>
    </div>
  </div>

  <div *ngIf="ratedTvShows" class="row mb-3">
    <h3>Tv shows</h3>
    <div *ngFor="let tv of ratedTvShows" class="col-2">
      <app-movie-card [media]="tv" [isMovie]="false"></app-movie-card>
    </div>
  </div>
</div>
