@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

$primary: #061f37;
$secondary: #84dd63;
$accent: #f5efed;
$dark: #041525;
$danger: #de6449;
$light: $accent;
$warning: #fca311;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "dark": $dark,
  "success": $secondary,
  "info": $light,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "teretriary": tint-color($warning, 40%),
);

$input-color: $light;
$input-border-color: $secondary;

$input-focus-border-color: tint-color($secondary, 50%);

$border-color: $secondary;

$body-bg: $dark;
$body-color: $accent;

$color-contrast-dark: $dark;
$color-contrast-light: $accent;

$pagination-color: $secondary;
$pagination-bg: $primary;

$pagination-focus-color: $primary;
$pagination-focus-bg: $secondary;

$pagination-hover-color: $primary;
$pagination-hover-bg: tint-color($secondary, 30);

$pagination-active-color: $primary;
$pagination-active-bg: $secondary;

$pagination-disabled-bg: darken($primary, 5);

:root {
  color-scheme: dark;
}

@import "node_modules/bootstrap/scss/bootstrap";

.autocomplete-container {
  .input-container input {
    background: $dark !important;
    color: $light !important;
    font-size: 1rem !important;
    border-radius: 5px !important;
  }

  .not-found {
    background: $dark !important;
    color: $light !important;
    font-size: 1rem !important;
    border: none;
  }

  .suggestions-container ul {
    background: $secondary !important;
    font-size: 1rem !important;
  }
}
