<form [formGroup]="filterForm" (submit)="onSubmit()">
  <div class="row">
    <div class="col-2">
      <label for="genre-select">Genre:</label>
      <select
        name="genre-select"
        formControlName="genre"
        *ngIf="genres"
        class="form-control form-select form-select-sm"
      >
        <option *ngFor="let genre of genres" [value]="genre.id">
          {{ genre.name }}
        </option>
      </select>
    </div>
    <input type="submit" class="btn btn-outline-secondary" value="Search" />
  </div>
</form>
